<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <service
            android:name="flutter.overlay.window.flutter_overlay_window_magic.OverlayService"
            android:exported="false" />
    </application>
</manifest>